@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #43271c;
  --secondary-color: #43be7d;
  --accent1-color: #fafafa;
  --accent2-color: #967d69;

  --heading-font: "Poppins", sans-serif;
  --paragraph-font: "Poppins", sans-serif;

  --nav-background-color: #fafafa;
  --nav-link-color: #3333ff;
  --nav-hover-link-color: #4747ff;
  --nav-hover-background-color: #f5f5f5;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

header {
  padding: 20px;
  background-color: var(--accent1-color);
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2em;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.colored-callout {
  color: #43be7d;
}
